/*custom fonts*/

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../fonts/Helvetica-Bold.eot');
  src: url('../fonts/Helvetica-Bold.woff2') format('woff2'),
       url('../fonts/Helvetica-Bold.woff') format('woff'),
       url('../fonts/Helvetica-Bold.ttf') format('truetype'),
       url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg'),
       url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../fonts/HelveticaNeue-Bold.eot');
  src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
       url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
       url('../fonts/../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg'),
       url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('../fonts/HelveticaNeue-Medium.eot');
  src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
       url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'),
       url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg'),
       url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../fonts/HelveticaNeue-Light.eot');
  src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-Light.woff') format('woff'),
       url('../fonts/HelveticaNeue-Light.ttf') format('truetype'),
       url('../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg'),
       url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body{margin:0;padding:0;}
#map-canvas {width: 65%;height: 100vh;/*position:absolute;top:0;right:0;*/}

h1,h2,h3,h4,p{
	font-family: Helvetica;
}

.googlemap_info{
	width: 35%;
	height:100vh;
	float: left;
/*	overflow:scroll;
	position:absolute;top:0;left:0;*/
}
@media (min-width:1681px){
.googlemap_info{
	width: 30%;
}
#map-canvas {width: 70%;height: 100vh;/*position:absolute;top:0;right:0;*/}

}
@media (max-width:1680px){
	body .map_accordian .card-block .details h2{font-size: 11px;}
}
.map_body{
	background: #303031;
	padding: 20px;
	height: 100%;
}

.side-logo{
	text-align: center;padding: 0 0 25px 0;
	max-width: 40%;
	margin: 0 auto
}
.side-logo img{max-width: 100%;}
.map_body h3.c_name{
	font-size: 17px;
	/* text-transform: uppercase; */
	padding: 8px 20px;
	color: #fff;
	background:#4d4d4d;
	margin-bottom: 12px;
	font-family: 'Helvetica-Bold';
	line-height:27px;
}

.information_block{margin-bottom: 40px;}

#mapview{position: relative;overflow: hidden;}
#mapview span.mapview-label{float:left;}
#goback{cursor: pointer;}
#goback i{font-size: 22px;}
.filter_bar{float: right;}
.filter_bar span{
	padding: 0 10px 0 17px;
position: relative;

}
.filter_bar span::before {
content: '';
    border-left: 1px solid #222;
    height: 100%;
    position: absolute;
    display: block;
    padding-left: 20px;
    left: 0;
    right: auto;
    padding: 25px 0;
    top: -15px;
}
#reset{cursor: pointer;}

/*new css*/
.map_accordian .card{border-radius: 0;margin-bottom: 12px;border:none;}
.map_accordian .card-header{border-radius: 0;padding:0;border:none;}
.map_accordian .card a{
	text-decoration: none;
	background: #0078bf;
	padding: 10px 20px;
	position: relative;
}
.map_accordian .card a .card-header h3{
	font-size: 15px;
	margin: 0;
	display: block;
	color: #fff;
	font-weight: bold;
	float: left;
	font-family: 'HelveticaNeue-Bold';
}
.map_accordian .card a .card-header h4{
	font-size: 15px;
	margin: 0;
	display: block;
	color: #fff;
	font-weight: normal;
	float: right;
	padding-right: 50px;
	font-family: 'HelveticaNeue-Light';
}
.title-wrapper .card-header h4:after{
	content: "\f123";
	font-family: Ionicons;
	border-left: 1px solid #fff;
	position: absolute;
	width: 50px;
	height: 36px;
	top: 0;
	line-height: 36px;
	left: auto;
	right: 0;
	text-align: center;
}
.title-wrapper[aria-expanded='true'] .card-header h4:after{
	content: '\f126';
}

.map_accordian .card-block{
	padding: 0;
}
.map_accordian .card-block .details {padding: 15px 5px;text-align: center;}
.map_accordian .card-block .card-item + .card-item{border-left: 2px solid #0078bf;}
.tab-title-wrapper {
    min-height: 26px;
    display: table;
    width: 100%;
}
.map_accordian .card-block .details h2{
    font-size: 12px;
    margin: 0;
    color: #0078bf;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Helvetica-Bold';
    line-height: 1.2;
}
.map_accordian .card-block .details p{
	font-size: 18px;
	margin: 0;
	color: #303031;
	font-family: 'HelveticaNeue-Medium';
}

/*color style*/
/*default color : blue*/
/*orange*/
.map_accordian .card.orange a{background: #f07f13;}
.map_accordian .card.orange .card-block .card-item + .card-item{border-left: 2px solid #f07f13;}
.map_accordian .card.orange .card-block .details h2{color:#f07f13;}

/*red*/
.map_accordian .card.red a{background: #d0043c;}
.map_accordian .card.red .card-block .card-item + .card-item{border-left: 2px solid #d0043c;}
.map_accordian .card.red .card-block .details h2{color:#d0043c;}

/*light-blue*/
.map_accordian .card.light-blue a{background: #42acf4;}
.map_accordian .card.light-blue .card-block .card-item + .card-item{border-left: 2px solid #42acf4;}
.map_accordian .card.light-blue .card-block .details h2{color:#42acf4;}


/*tabs*/
.imdad-tab{
	border-bottom: none;
	background: #ffffff;
	margin: 0 0 15px 0;
	padding: 0;
}
ul.imdad-tab li.nav-item {
	width: 25%;
	text-align: center;
	margin: 0;
	min-height: 30px;
	line-height: 30px;
}
ul.imdad-tab li.nav-item + li.nav-item{border-left: 1px solid #ddd;}

ul.imdad-tab li.nav-item a.nav-link{
    padding: 10px 0;
    margin: 0;
    border: none;
    border-radius: 0;
    position: relative;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    max-height: 45px;
    min-height: 45px;
    vertical-align: middle;
}
ul.imdad-tab li.nav-item a.nav-link:after{
	content:'';
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
ul.imdad-tab li.nav-item a.nav-link.active:after,
ul.imdad-tab li.nav-item a.nav-link:hover:after{
	border-top: 10px solid #b3b3b3;
	bottom: -10px;
}
ul.imdad-tab li.nav-item a.nav-link.active,
ul.imdad-tab li.nav-item a.nav-link:hover{
	background:#b3b3b3;
}

.imdad-tab-content .tab-pane{
	background: #fff;
	padding: 20px 20px 5px 20px;
}
.imdad-tab-content .list_item_checkbox .form-check-inline{
	width: 30%;
	display: inline-block;
}
.imdad-tab-content .list_item_checkbox .form-check-inline+.form-check-inline {
	margin-left: 0;
	margin-bottom: 10px;
}

.imdad-tab-content .list_item_checkbox .form-check-inline .form-check-input {
	position: static;
	margin: 0;
}

.imdad-tab-content .list_item_checkbox .form-check-inline .form-check-label {
	padding-left: 15px;
	margin-bottom: 0;
	cursor: pointer;
	vertical-align: bottom;
}

.imdad-tab-content .list_item_checkbox .form-check-inline label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 18px;
	margin-bottom: 0; 
}
.imdad-tab-content .list_item_checkbox .form-check-inline label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 19px;
	height: 19px;
	left: 0;
	margin-left: -18px;
	border: 2px solid #7f7f80;
	border-radius: 0;
	background-color: #ffffff;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out; 
}
.imdad-tab-content .list_item_checkbox .form-check-inline label::after {
	display: inline-block;
	position: absolute;
	content: " ";
    width: 11px;
    height: 11px;
    left: 4px;
    top: 4px;
	margin-left: -18px;
	border-radius: 1px;
	background-color: #7f7f80;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); 
}
.imdad-tab-content .list_item_checkbox .form-check-inline input[type="checkbox"] {
	opacity: 0;
	z-index: 1; 
}
.imdad-tab-content .list_item_checkbox .form-check-inline input[type="checkbox"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1); 
}

.tab-title h2{
	font-size: 15px;
	margin: 0 0 12px 0;
	display: block;
	color: #fff;
	font-weight: bold;
	font-family: 'HelveticaNeue-Bold';
	text-transform: uppercase;
	    padding: 0 20px;
}
sup{top:-0.2em!important;    font-size: 65%!important;}

/*#reset{float: right;}*/

/* #goback{display: none;}  */
